<h1>New premio</h1>

<% form_for(@premio) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :premio %><br />
    <%= f.text_field :premio %>
  </p>
  <p>
    <%= f.label :pontos %><br />
    <%= f.text_field :pontos %>
  </p>
  <p>
    <%= f.label :ativo %><br />
    <%= f.text_field :ativo %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', premios_path %>