<p>
  <b>Premio:</b>
  <%=h @premio.premio %>
</p>

<p>
  <b>Pontos:</b>
  <%=h @premio.pontos %>
</p>

<p>
  <b>Ativo:</b>
  <%=h @premio.ativo %>
</p>


<%= link_to 'Edit', edit_admin_premio_path(@premio) %> |
<%= link_to 'Back', admin_premios_path %>