<h2><span class="h-campanhas">Agentes Campanhas</span></h2>
<% form_for([:admin, @campanha_agente]) do |f| %>
  <% if f.error_messages.nil?  %>
	  <div class="error"><%=f.error_messages%></div>
  <% end %>
  <% if flash[:notice] %>
	<div class="success"><%=flash[:notice]%></div>
  <% end %>
 <div class="conteudo">
        <table class="listagem">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th class="data">Data de início</th>
                    <th class="data">Data de Término</th>
                    <th class="opcoes">Opções</th>
                </tr>
            </thead>
            <tbody>

<% @campanha_agentes.each do |campanha_agente| %>
  <tr>
    <td><%=h campanha_agente.nome %></td>
    <td class="data"><%=h campanha_agente.inicio.strftime("%d/%m/%Y") %></td>
    <td class="data"><%=h campanha_agente.termino.strftime("%d/%m/%Y") %></td>
    <td class="opcoes">
		<%= link_to image_tag("../images/icons/report_edit.png", :title=>"Editar", :alt=>"Editar"), edit_admin_campanha_agente_path(campanha_agente) %>
		<%= link_to image_tag("../images/icons/delete.png"), [:admin, campanha_agente], :confirm => 'Deseja deletar?', :method => :delete %>
	</td>
  </tr>
<% end %>
</table>
<%= will_paginate%>
<fieldset>
	                    	<legend>Ficha</legend>

	<label>Título da campanha</label>
	<div class="valida"><%= f.text_field :nome, :class=>"ipt ipt-nomecamapanha" %></div>
	<div class="clear">&nbsp;</div>

  	<fieldset>
   	<legend>Datas</legend>
		<div class="datas">
           <label>Data de in&iacute;cio</label>
    		<%= f.date_select :inicio %>
		</div>
		<div class="datas">
			<label>Data de t&eacute;rmino</label>
    		<%= f.date_select :termino %>
  		</div>
		<div class="clear">&nbsp;</div>
    </fieldset>
	<fieldset>
    <legend>Pontuação</legend>

    <div class="pontos">
        <label>Pontos por venda</label>
        <%= f.text_field :pontos_venda, :class=>"ipt ipt-pontuacao" %>

    </div>

    <div class="pontos">
        <label>Pontos por novo cadastro</label>
		<%= f.text_field :pontos_vendedor, :class=>"ipt ipt-pontuacao" %>
    </div>
    <div class="clear">&nbsp;</div>
	</fieldset>
	<fieldset>

        <legend>Regulamento</legend>
        <%= f.text_area :regulamento,:class=>"txa-regulamento" %>
    </fieldset>
	<div class="clear">&nbsp;</div>
      <div class="botoes">
         <%= f.submit 'Salvar' %>

      </div>
  </fieldset>

 
<% end %>
