<p>
  <b>Premios:</b>
  <%=h @lance_unico.premios %>
</p>

<p>
  <b>Data inicio:</b>
  <%=h @lance_unico.data_inicio %>
</p>

<p>
  <b>Data termino:</b>
  <%=h @lance_unico.data_termino %>
</p>

<p>
  <b>Quantidade:</b>
  <%=h @lance_unico.quantidade %>
</p>


<%= link_to 'Edit', edit_admin_lance_unico_path(@lance_unico) %> |
<%= link_to 'Back', admin_lance_unico_path %>