<% form_for([:admin, @campanha]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label :data_inicio %><br />
    <%= f.date_select :data_inicio %>
  </p>
  <p>
    <%= f.label :data_termino %><br />
    <%= f.date_select :data_termino %>
  </p>
  <fieldset>
 	<legend>Vendedores</legend>
	    <%f.fields_for :campanha_vendedores do |campanha_vendedores_form|%>
	      <%= render :partial => "campanha_vendedor", :locals => {:f => campanha_vendedores_form} %>
	    <% end -%>
	        <p><%= image_tag "add.png", :title => "Adicionar", :class => "add", :id => "#campanha_vendedores" %></p>
  </fieldset>
  <fieldset>
 	<legend>Prêmios</legend>
	    <%f.fields_for :campanha_premios do |campanha_premios_form|%>
	      <%= render :partial => "campanha_premio", :locals => {:f => campanha_premios_form} %>
	    <% end -%>
	        <p><%= image_tag "add.png", :title => "Adicionar", :class => "add", :id => "#campanha_premios" %></p>
  </fieldset>
  <fieldset>
 	<legend>Produtos</legend>
	    <%f.fields_for :campanha_produtos do |campanha_produtos_form|%>
	      <%= render :partial => "campanha_produto", :locals => {:f => campanha_produtos_form} %>
	    <% end -%>
	        <p><%= image_tag "add.png", :title => "Adicionar", :class => "add", :id => "#campanha_produto" %></p>
  </fieldset>
  <p>
    <%= f.label :data_troca %><br />
    <%= f.date_select :data_troca %>
  </p>
  <p>
    <%= f.label :regulamento %><br />

    <%= f.text_area :regulamento %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
