	<h2><span class="h-campanhas">Campanhas</span></h2>
	<% form_for([:admin, @campanha]) do |f| %>
	  <% if f.error_messages.nil?  %>
    	  <div class="error"><%=f.error_messages%></div>
	  <% end %>
	  <% if flash[:notice] %>
    	<div class="success"><%=flash[:notice]%></div>
	  <% end %>
    <div class="clear">&nbsp;</div>

    
    <div class="conteudo">
        <table class="listagem">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th class="data">Data de Início</th>
                    <th class="data">Data de Término</th>

                    <th class="opcoes">Opções</th>
                </tr>
            </thead>
            <tbody>
				<% @campanhas.each do |campanha| %>
				<tr>
					<td><%=h campanha.titulo %></td>
					<td class="data"><%=h campanha.data_inicio.strftime("%d/%m/%Y") %></td>
					<td class="data"><%=h campanha.data_termino.strftime("%d/%m/%Y") %></td>
					<td class="opcoes">
						<%= link_to image_tag("../images/icons/report_edit.png", :title=>"Editar", :alt=>"Editar"), edit_admin_campanha_path(campanha) %>
						<%= link_to image_tag("../images/icons/delete.png"), [:admin, campanha], :confirm => 'Are you sure?', :method => :delete %>
					</td>
				</tr>
				<% end %>
               
            </tbody>
        </table>
		<%= will_paginate%>
        <a href="#" class="pagina"><img src="images/icons/resultset_first.png" alt=""/> Primeira página</a>
        <a href="#" class="pagina"><img src="images/icons/resultset_previous.png" alt=""/> Página anterior</a>
        <div class="pagina"><img src="images/icons/page_white_stack.png" alt="Página" /> Página 150 de 3000</div>
        <a href="#" class="pagina"><img src="images/icons/resultset_next.png" alt=""/> Próxima página</a>
        <a href="#" class="pagina"><img src="images/icons/resultset_last.png" alt=""/> Última página</a>
        <div class="clear">&nbsp;</div>

        
        	<fieldset>
            	<legend>Ficha</legend>
                <label>Título da campanha</label>
                <div class="valida"><%= f.text_field :titulo, :class=>"ipt ipt-nomecamapanha" %></div>
                <div class="clear">&nbsp;</div>
                
                <fieldset>
                	<legend>Datas</legend>

                    <div class="datas">
                        <label>Data de in&iacute;cio</label>
                        <%= f.date_select :data_inicio, {:class=>"slt slt-data"} %>
                    </div>
                    
                    <div class="datas">
                        <label>Data de t&eacute;rmino</label>
                        <%= f.date_select :data_termino, :class=>"slt slt-data" %>
                    </div>
                    
                    <div class="datas">
                        <label>Data final para troca de pontos</label>
                        <%= f.date_select :data_troca, :class=>"slt slt-data" %>
                    <div class="clear">&nbsp;</div>
                </fieldset>

                
                <fieldset>
                	<legend>Produtos</legend>
                    <div class="portal">
                        <div class="connect fl">
                            <h3>Produtos Disponíveis</h3>
                            <ul id="cosluna-esquerda" class="produtos-esquerda conexao">
                                <% Produto.all.each do |produto| %>
								<li id="<%=produto.id%>"><%=produto.nome%></li>
								<% end%>
                            </ul>
                        </div>
                        <div id="janela"></div>
                        <div class="connect fr">
                            <h3>Produtos participantes</h3>
                            <ul id="coluna-direita" class="produtos-direita conexao">
                                
                            </ul>
                        </div>
                        <div class="clear">&nbsp;</div>
                    </div>
                </fieldset>
            <div id="items"></div>
                <fieldset>
                    <legend>Revendas</legend>
					<%f.fields_for :campanha_vendedores do |campanha_vendedores_form|%>
				      <div class="portal">
					    <div class="connect fl">
							<h3>Revendas Disponíveis</h3>
								<%= select :estado,
									       :estado_id,
								           Estado.find(:all).collect {|t| [t.estado, t.sigla]},
								           {:prompt=>"--Selecione o estado--", :class=>"slt-revendas"},
								           :onchange=>remote_function(:update=>"coluna-esquerda",
								           :url=>{:action=>"lista_vendedores"},:with=>"'estado_id='+value")
							 	%>

								<ul id="coluna-esquerda" class="revendas-esquerda conexao lst-revendas">
								</ul>
							</div>
							<div class="connect fr">
								<h3>Revendas participantes</h3>
								<ul id="coluna-direita" class="revendas-direita conexao">
								</ul>
								<div id="janela"></div>
							<div class="clear">&nbsp;</div>
						</div>	
					
				    <% end -%>
                    <br />
                    <input id="todas-revendas" onchange="javascript:todasRevendas();" class="ipt-check" type="checkbox" /> <label class="lbl-check">Todos revendedores</label>
                    <div class="clear">&nbsp;</div>
                </fieldset>
            
                <fieldset>
                    <legend>Prêmios</legend>

                    <ul class="premios">
						<% Premio.all(:order => "premio").each do |p|%>
						<li><input name="premio[]" onchange="javascript:if(this.checked){document.getElementById('quantidade<%=p%>').disabled=false;}else{document.getElementById('quantidade<%=p%>').disabled=true;};" id="premio<%=p%>" value="<%=p%>" type="checkbox" class="ipt-check">						
						    <input type="text" class="ipt ipt-premio" disabled="disabled" id="quantidade<%=p%>" />
						    <label class="lbl-premio"><%=p.premio%> <span>(<%=p.pontos%> pontos)</span></label>
						</li>
						<% end %>
                    </ul>
                </fieldset>
            
                <fieldset>
                    <legend>Regulamento</legend>
                    <textarea class="txa-regulamento"></textarea>
                </fieldset>
                
                <input class="ipt-check" type="checkbox" /> <label class="lbl-check">Esta campanha não terá ranking nem resgate.</label>

                <div class="clear">&nbsp;</div>
                <input class="ipt-check" type="checkbox" /> <label class="lbl-check">Esta campanha participa de campanhas do Quiz.</label>
                <div class="clear">&nbsp;</div>
                <input class="ipt-check" type="checkbox" /> <label class="lbl-check">Esta campanha participa de campanhas do Lance Único.</label>
                
                <div class="clear">&nbsp;</div>
                <div class="botoes">
                    <button type="submit" class="button negative"><img src="images/icons/cancel.png" alt=""/> Limpar</button>

<%= f.submit 'Salvar' %>
                </div>
            </fieldset>
    </div>

	


	 

	</div>
	<br />
<% end %>