	<h2><span class="h-campanhas">Campanhas</span></h2>
	<% form_for([:admin, @campanha]) do |f| %>
	  <% if f.error_messages.nil?  %>
    	  <div class="error"><%=f.error_messages%></div>
	  <% end %>
	  <% if flash[:notice] %>
    	<div class="success"><%=flash[:notice]%></div>
	  <% end %>
    <div class="clear">&nbsp;</div>

    
    <div class="conteudo">
        <table class="listagem">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th class="data">Data de Início</th>
                    <th class="data">Data de Término</th>

                    <th class="opcoes">Opções</th>
                </tr>
            </thead>
            <tbody>
				<% @campanhas.each do |campanha| %>
				<tr>
					<td><%=h campanha.titulo %></td>
					<td class="data"><%=h campanha.data_inicio.strftime("%d/%m/%Y") %></td>
					<td class="data"><%=h campanha.data_termino.strftime("%d/%m/%Y") %></td>
					<td class="opcoes">
						<%= link_to image_tag("../images/icons/report_edit.png", :title=>"Editar", :alt=>"Editar"), edit_admin_campanha_path(campanha) %>
						<%= link_to image_tag("../images/icons/delete.png"), [:admin, campanha], :confirm => 'Are you sure?', :method => :delete %>
					</td>
				</tr>
				<% end %>
               
            </tbody>
        </table>
		<%= will_paginate%>
        <a href="#" class="pagina"><img src="images/icons/resultset_first.png" alt=""/> Primeira página</a>
        <a href="#" class="pagina"><img src="images/icons/resultset_previous.png" alt=""/> Página anterior</a>
        <div class="pagina"><img src="images/icons/page_white_stack.png" alt="Página" /> Página 150 de 3000</div>
        <a href="#" class="pagina"><img src="images/icons/resultset_next.png" alt=""/> Próxima página</a>
        <a href="#" class="pagina"><img src="images/icons/resultset_last.png" alt=""/> Última página</a>
        <div class="clear">&nbsp;</div>

        
        	<fieldset>
            	<legend>Ficha</legend>
                <label>Título da campanha</label>
                <div class="valida"><%= f.text_field :titulo, :class=>"ipt ipt-nomecamapanha" %></div>
                <div class="clear">&nbsp;</div>
                
                <fieldset>
                	<legend>Datas</legend>

                    <div class="datas">
                        <label>Data de in&iacute;cio</label>
                        <%= f.date_select :data_inicio, {:class=>"slt slt-data"} %>
                    </div>
                    
                    <div class="datas">
                        <label>Data de t&eacute;rmino</label>
                        <%= f.date_select :data_termino, :class=>"slt slt-data" %>
                    </div>
                    
                    <div class="datas">
                        <label>Data final para troca de pontos</label>
                        <%= f.date_select :data_troca, :class=>"slt slt-data" %>
                    <div class="clear">&nbsp;</div>
                </fieldset>

                
                <fieldset>
                	<legend>Produtos</legend>
                    <div class="portal">
                        <div class="connect fl">
                            <h3>Produtos Disponíveis</h3>
                            <ul id="cosluna-esquerda">
                                <li>Morbi rhoncus augue tincidunt arcu congue suscipit.</li>

                                <li>Aliquam sit amet mauris erat, vitae ultrices nisl.</li>
                                <li>Sed hendrerit ante ut enim vehicula eu vulputate enim iaculis.</li>
                                <li>Vivamus id elit vitae odio tempor rutrum ac adipiscing massa.</li>
                                <li>Nullam ac neque et est imperdiet rhoncus.</li>
                                <li>Vivamus viverra libero sit amet justo interdum volutpat.</li>
                                <li>In id massa sem, ac sollicitudin justo.</li>

                            </ul>
                        </div>
                        
                        <div class="connect fr">
                            <h3>Produtos participantes</h3>
                            <ul id="coluna-direita">
                                <li>Aenean at orci id sem feugiat posuere.</li>
                                <li>Sed posuere dolor et tellus elementum auctor.</li>

                                <li>Etiam ultricies dui in est scelerisque id commodo felis dapibus.</li>
                            </ul>
                        </div>
                        <div class="clear">&nbsp;</div>
                    </div>
                </fieldset>
            
                <fieldset>
                    <legend>Revendas</legend>
					<%f.fields_for :campanha_vendedores do |campanha_vendedores_form|%>
				      <div class="portal">
					    <div class="connect fl">
							<h3>Revendas Disponíveis</h3>
								<%= select :estado,
									       :estado_id,
								           Estado.find(:all).collect {|t| [t.estado, t.sigla]},
								           {:prompt=>"--Selecione o estado--", :class=>"slt-revendas"},
								           :onchange=>remote_function(:update=>"coluna-esquerda",
								           :url=>{:action=>"lista_vendedores"},:with=>"'estado_id='+value")
							 	%>

								<ul id="coluna-esquerda" class="connect lst-revendas">
								</ul>
							</div>
							<div class="connect fr">
								<h3>Revendas participantes</h3>
								<ul id="coluna-direita" class="connect">
								</ul>
								<div id="janela"></div>
							<div class="clear">&nbsp;</div>
						</div>	
					
				    <% end -%>
                    <br />
                    <input class="ipt-check" type="checkbox" /> <label class="lbl-check">Todos revendedores</label>
                    <div class="clear">&nbsp;</div>
                </fieldset>
            
                <fieldset>
                    <legend>Prêmios</legend>

                    <ul class="premios">
                    	<li>
                        	<input type="checkbox" class="ipt-check" />
                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Lorem ipsum dolor sit amet <span>(999 pontos)</span></label>
                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />

                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>
                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />
                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>

                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />
                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>
                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />

                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>
                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />
                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>

                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />
                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>
                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />

                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>
                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />
                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>

                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />
                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>
                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />

                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>
                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />
                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>

                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />
                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>
                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />

                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>
                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />
                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>

                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />
                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>
                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />

                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>
                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />
                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>

                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />
                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>
                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />

                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>
                        </li>
                    	<li>
                        	<input type="checkbox" class="ipt-check" />
                            <input type="text" class="ipt ipt-premio" />
                            <label class="lbl-premio">Título do prêmio <span>(999 pontos)</span></label>

                        </li>
                    </ul>
                </fieldset>
            
                <fieldset>
                    <legend>Regulamento</legend>
                    <textarea class="txa-regulamento"></textarea>
                </fieldset>
                
                <input class="ipt-check" type="checkbox" /> <label class="lbl-check">Esta campanha não terá ranking nem resgate.</label>

                <div class="clear">&nbsp;</div>
                <input class="ipt-check" type="checkbox" /> <label class="lbl-check">Esta campanha participa de campanhas do Quiz.</label>
                <div class="clear">&nbsp;</div>
                <input class="ipt-check" type="checkbox" /> <label class="lbl-check">Esta campanha participa de campanhas do Lance Único.</label>
                
                <div class="clear">&nbsp;</div>
                <div class="botoes">
                    <button type="submit" class="button negative"><img src="images/icons/cancel.png" alt=""/> Limpar</button>

                    <button type="submit" class="button positive"><img src="images/icons/tick.png" alt=""/> Salvar</button>
                </div>
            </fieldset>
        </form>
    </div>







	


	  <p>
	    <%= f.label :titulo %><br />
	    
	  </p>
	  <p>
	    <%= f.label :data_inicio %><br />
	    
	  </p>
	  <p>
	    <%= f.label :data_termino %><br />
	    
	  </p>
	  <fieldset>
	 	<legend>Vendedores</legend>
		    
	  </fieldset>
	  <fieldset>
	 	<legend>Prêmios</legend>
		    <%f.fields_for :campanha_premios do |campanha_premios_form|%>
		      <%= render :partial => "campanha_premio", :locals => {:f => campanha_premios_form} %>
		    <% end -%>
	  </fieldset>
	  <fieldset>
	 	<legend>Produtos</legend>
		    <%f.fields_for :campanha_produtos do |campanha_produtos_form|%>
		      <%= render :partial => "campanha_produto", :locals => {:f => campanha_produtos_form} %>
		    <% end -%>
	  </fieldset>
	  <p>
	    <%= f.label :data_troca %><br />
	    
	  </p>
	  <p>
	    <%= f.label :regulamento %><br />

	    <%= f.text_area :regulamento %>
	  </p>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>

	</div>
	<br />
<% end %>