<p>
  <b>Nome:</b>
  <%=h @campanhas_agente.nome %>
</p>

<p>
  <b>Inicio:</b>
  <%=h @campanhas_agente.inicio %>
</p>

<p>
  <b>Termino:</b>
  <%=h @campanhas_agente.termino %>
</p>

<p>
  <b>Regulamento:</b>
  <%=h @campanhas_agente.regulamento %>
</p>

<p>
  <b>Pontos venda:</b>
  <%=h @campanhas_agente.pontos_venda %>
</p>

<p>
  <b>Pontos vendedor:</b>
  <%=h @campanhas_agente.pontos_vendedor %>
</p>


<%= link_to 'Edit', edit_campanhas_agente_path(@campanhas_agente) %> |
<%= link_to 'Back', campanhas_agentes_path %>