<p>
  <b>Titulo:</b>
  <%=h @campanha.titulo %>
</p>

<p>
  <b>Data inicio:</b>
  <%=h @campanha.data_inicio %>
</p>

<p>
  <b>Data fim:</b>
  <%=h @campanha.data_fim %>
</p>

<p>
  <b>Data troca:</b>
  <%=h @campanha.data_troca %>
</p>

<p>
  <b>Regulamento:</b>
  <%=h @campanha.regulamento %>
</p>

<p>
  <b>Lance unico:</b>
  <%=h @campanha.lance_unico %>
</p>

<p>
  <b>Quiz:</b>
  <%=h @campanha.quiz %>
</p>

<p>
  <b>Temporaria:</b>
  <%=h @campanha.temporaria %>
</p>


<%= link_to 'Edit', edit_campanha_path(@campanha) %> |
<%= link_to 'Back', campanhas_path %>