<h1>Listing agentes</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @agentes.each do |agente| %>
  <tr>
    <td><%=h agente.nome %></td>
    <td><%= link_to 'Show', agente %></td>
    <td><%= link_to 'Edit', edit_agente_path(agente) %></td>
    <td><%= link_to 'Destroy', agente, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New agente', new_agente_path %>