<p>
  <b>Nome fantasia:</b>
  <%=h @distribuidor.nome_fantasia %>
</p>

<p>
  <b>Razao social:</b>
  <%=h @distribuidor.razao_social %>
</p>

<p>
  <b>Cnpj:</b>
  <%=h @distribuidor.cnpj %>
</p>

<p>
  <b>Cgf:</b>
  <%=h @distribuidor.cgf %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @distribuidor.endereco %>
</p>

<p>
  <b>Complemento:</b>
  <%=h @distribuidor.complemento %>
</p>

<p>
  <b>Cep:</b>
  <%=h @distribuidor.cep %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @distribuidor.bairro %>
</p>

<p>
  <b>Municipio:</b>
  <%=h @distribuidor.municipio %>
</p>

<p>
  <b>Municipio:</b>
  <%=h @distribuidor.municipio %>
</p>

<p>
  <b>Estado:</b>
  <%=h @distribuidor.estado %>
</p>

<p>
  <b>Agente:</b>
  <%=h @distribuidor.agente %>
</p>


<%= link_to 'Edit', edit_distribuidor_path(@distribuidor) %> |
<%= link_to 'Back', distribuidores_path %>