<h1>Listing vendedores</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Cpf</th>
    <th>Email</th>
    <th>Sexo</th>
    <th>Telefone</th>
    <th>Celular</th>
    <th>Cidade</th>
    <th>Endereco</th>
    <th>Numero</th>
    <th>Complemento</th>
    <th>Bairro</th>
    <th>Cep</th>
    <th>Data nasc</th>
    <th>Ativo</th>
    <th>Data cadastro</th>
    <th>Cnpj revenda</th>
    <th>Revenda</th>
    <th>Estado</th>
    <th>Municipio</th>
  </tr>

<% @vendedores.each do |vendedor| %>
  <tr>
    <td><%=h vendedor.nome %></td>
    <td><%=h vendedor.cpf %></td>
    <td><%=h vendedor.email %></td>
    <td><%=h vendedor.sexo %></td>
    <td><%=h vendedor.telefone %></td>
    <td><%=h vendedor.celular %></td>
    <td><%=h vendedor.cidade %></td>
    <td><%=h vendedor.endereco %></td>
    <td><%=h vendedor.numero %></td>
    <td><%=h vendedor.complemento %></td>
    <td><%=h vendedor.bairro %></td>
    <td><%=h vendedor.cep %></td>
    <td><%=h vendedor.data_nasc %></td>
    <td><%=h vendedor.ativo %></td>
    <td><%=h vendedor.data_cadastro %></td>
    <td><%=h vendedor.cnpj_revenda %></td>
    <td><%=h vendedor.revenda %></td>
    <td><%=h vendedor.estado %></td>
    <td><%=h vendedor.municipio %></td>
    <td><%= link_to 'Show', vendedor %></td>
    <td><%= link_to 'Edit', edit_vendedor_path(vendedor) %></td>
    <td><%= link_to 'Destroy', vendedor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New vendedor', new_vendedor_path %>