<h1>Editing vendedor</h1>

<% form_for(@vendedor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :sexo %><br />
    <%= f.text_field :sexo %>
  </p>
  <p>
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </p>
  <p>
    <%= f.label :celular %><br />
    <%= f.text_field :celular %>
  </p>
  <p>
    <%= f.label :cidade %><br />
    <%= f.text_field :cidade %>
  </p>
  <p>
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </p>
  <p>
    <%= f.label :numero %><br />
    <%= f.text_field :numero %>
  </p>
  <p>
    <%= f.label :complemento %><br />
    <%= f.text_field :complemento %>
  </p>
  <p>
    <%= f.label :bairro %><br />
    <%= f.text_field :bairro %>
  </p>
  <p>
    <%= f.label :cep %><br />
    <%= f.text_field :cep %>
  </p>
  <p>
    <%= f.label :data_nasc %><br />
    <%= f.date_select :data_nasc %>
  </p>
  <p>
    <%= f.label :ativo %><br />
    <%= f.text_field :ativo %>
  </p>
  <p>
    <%= f.label :data_cadastro %><br />
    <%= f.date_select :data_cadastro %>
  </p>
  <p>
    <%= f.label :cnpj_revenda %><br />
    <%= f.text_field :cnpj_revenda %>
  </p>
  <p>
    <%= f.label :revenda %><br />
    <%= f.text_field :revenda %>
  </p>
  <p>
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </p>
  <p>
    <%= f.label :municipio %><br />
    <%= f.text_field :municipio %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @vendedor %> |
<%= link_to 'Back', vendedores_path %>