<p>
  <b>Nome:</b>
  <%=h @vendedor.nome %>
</p>

<p>
  <b>Cpf:</b>
  <%=h @vendedor.cpf %>
</p>

<p>
  <b>Email:</b>
  <%=h @vendedor.email %>
</p>

<p>
  <b>Sexo:</b>
  <%=h @vendedor.sexo %>
</p>

<p>
  <b>Telefone:</b>
  <%=h @vendedor.telefone %>
</p>

<p>
  <b>Celular:</b>
  <%=h @vendedor.celular %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @vendedor.cidade %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @vendedor.endereco %>
</p>

<p>
  <b>Numero:</b>
  <%=h @vendedor.numero %>
</p>

<p>
  <b>Complemento:</b>
  <%=h @vendedor.complemento %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @vendedor.bairro %>
</p>

<p>
  <b>Cep:</b>
  <%=h @vendedor.cep %>
</p>

<p>
  <b>Data nasc:</b>
  <%=h @vendedor.data_nasc %>
</p>

<p>
  <b>Ativo:</b>
  <%=h @vendedor.ativo %>
</p>

<p>
  <b>Data cadastro:</b>
  <%=h @vendedor.data_cadastro %>
</p>

<p>
  <b>Cnpj revenda:</b>
  <%=h @vendedor.cnpj_revenda %>
</p>

<p>
  <b>Revenda:</b>
  <%=h @vendedor.revenda %>
</p>

<p>
  <b>Estado:</b>
  <%=h @vendedor.estado %>
</p>

<p>
  <b>Municipio:</b>
  <%=h @vendedor.municipio %>
</p>


<%= link_to 'Edit', edit_vendedor_path(@vendedor) %> |
<%= link_to 'Back', vendedores_path %>